.App {
  text-align: center;

}

body{
  margin: 0 auto;
  height: 100%;
  width: 100%;
}

.topL{
  position: absolute;
  margin-top: -2%;
  margin-left: 270px;
}

.topheader{
 height: 350px;
 background-size: 55%;
 background-attachment: fixed;
 background-position: 50% 2.5%;
 background-repeat: no-repeat;
 background-image: url("./assets/nout2.jpg")
}

button{
  background-color: teal;
  color: white;
  border-radius: 10px;
}


.topR{
  position: absolute;
  margin-top: 1%;
  margin-left: 270px;
  }

  .topL{
  position: absolute;
  margin-right: 30px;
  }

li{
  list-style: none;
  border-bottom: 2px solid black;
  text-align: center;
}

li:active{
  background-color: teal;
}

h1{
  font-family: 'Luckiest Guy', cursive;
  font-size: 16vw;
}


.emessage-board{
  background-color: aqua;
}
