.App {
  text-align: center;

}

body{
  margin: 0 auto;
  height: 100%;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-image: url("./assets/back1.jpg")
}

.topL{
  position: absolute;
  margin-top: -2%;
  margin-left: 270px;
}

.topheader{
 height: 350px;

}

button{
  background-color: navy;
  color: white;
  border-radius: 10px;
}


.topR{
  position: absolute;
  margin-top: 1%;
  margin-left: 270px;
  }

  .topL{
  position: absolute;
  margin-right: 30px;
  }

li{
  list-style: none;
  border-bottom: 2px solid black;
  text-align: center;
}

li:active{
  background-color: teal;
}

#listTitle{
  font-size: 5vw;
  color: black;
  font-family: 'Mirza', cursive;
}

.App h1{
  font-family: 'Codystar', cursive;
  color: white;
  font-size: 19vw;
  animation: blink 2s infinite;
}

@keyframes blink{
    0%{color: rgba(255,255,255, 0.8); }
  25%{color: rgba(248,248,248,1); }
  50%{color: rgba(240,240,80,0.9); }
  75%{color: rgba(224,4,224,0.9); }
  100%{color: rgba(232,232,232, 0.8); }
}

.emessage-board{
  background-color: aqua;
}
