.App {
  text-align: center;
}

li{
  list-style: none;
  border-bottom: 2px solid blue;
}

li:active{
  background-color: teal;
}

h1{
  font-family: 'Luckiest Guy', cursive;
  font-size: 16vw;

}


.emessage-board{
  background-color: aqua;

}
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
